<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Registro</title>
</head>
<body class="bg-zinc-100">
    <nav id="nav-bar" class="fixed top-0 right-0 left-0 bg-gray-900 h-16">
    </nav>

    <div class="fixed top-20 right-0 left-0">
        <div class="max-w-7xl mx-auto flex justify-end">
            <p class="bg-red-700 rounded-lg font-bold p-4 w-3/12">Notificacion</p>
        </div>
    </div>

    <div class="pt-16 h-screen flex max-w-7xl justify-center items-center px-4">
        <div class="hidden lg:flex w-2/4 justify-center items-center">
            <img class="w-3/4" src="/img/singUp.svg" alt="imagen registro" srcset="">
        </div>
        <form id="form" class="flex flex-col gap-4 text-md lg:w-2/4">
            <div class=" flex flex-col gap-2 bg-gray-200 p-4 rounded-lg text-lg shadow-xl">
                <label for="name-input" class="font-bold" >Nombre <span class="text-red-700">*</span></label>
                <input type="text" 
                id="name-input" 
                name="name-input" 
                autocomplete="off" 
                placeholder="el pepe"
                class=" rounded-lg p-1 bg-gray-300 focus:outline-gray-900"
                >
                <p class=" text-xs">Ingrese Nombre y Apellido. Ambos deben de comenzar con Mayuscula.</p>
            </div>

            <div class=" flex flex-col gap-2 bg-gray-200 p-4 rounded-lg text-lg shadow-xl">
                <label for="name-input" class="font-bold" >Correo <span class="text-red-700">*</span></label>
                <input type="email" 
                id="email" 
                name="email-input" 
                autocomplete="off" 
                placeholder="el pepe@gmail.com"
                class=" rounded-lg p-1 bg-gray-300 focus:outline-gray-900"
                >
                <p class=" text-xs">Correo requerido.</p>
            </div>

            <div class=" flex flex-col gap-2 bg-gray-200 p-4 rounded-lg text-lg shadow-xl">
                <label for="name-input" class="font-bold" >Contrasena <span class="text-red-700">*</span></label>
                <input type="password" 
                id="contrasena-input" 
                name="contrasena-input" 
                autocomplete="off" 
                class=" rounded-lg p-1 bg-gray-300 focus:outline-gray-900"
                >
                <p class=" text-xs">
                    Debe de contener al menos una Letra y un Numero
                </p>
            </div>

            <div class=" flex flex-col gap-2 bg-gray-200 p-4 rounded-lg text-lg shadow-xl">
                <label for="name-input" class="font-bold" >Confirmar Contrasena <span class="text-red-700">*</span></label>
                <input type="password" 
                id="match-input" 
                name="match-input" 
                autocomplete="off" 
                class=" rounded-lg p-1 bg-gray-300 focus:outline-gray-900"
                >
                <p class=" text-xs">
                    Debe de coincidir con la contrasena.
                </p>
            </div>

            <button id="form-btn" 
            disabled
            class="bg-gray-900 py-2 px-4 rounded-lg font-bold text-white hover:bg-slate-700 text-center transition ease-in-out disabled:opacity-25 disabled:cursor-not-allowed">Registrar</button>
        </form>
    </div>

    <script src="/components/nav.js"></script>
    <script type="module" src="/index.js"></script>
    <script type="module" src="../components/notification.js"></script>
</body>
</html>